

.navbar-default {
	margin: 0;
	border-radius: 0;
}

.navbar-brand {
	float: left;
	font-size: 1.7em;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

.navbar-brand.logo {
		color: #fff;
}


.jumbotron {
	background-image: asset-url('bg.jpg');
	height: 400px;
}

.container .jumbotron, .container-fluid .jumbotron {
	border-radius: 0;
	
}


.jumbotron, h1 {
	color: #fff;
	letter-spacing: -1px;
	font-weight: bold;
}

.btn-xl {
	background-color: #e18c0f;
	font-size: 1.7em;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #d6d6d6;
	color: #777;
}

footer small {
	float: left;
}

footer ul {
	list-style: none;
	float: right;
}

footer ul li {
	float: left;
	margin-left: 15px;
}

 