//Navbar styling

.navbar-default {
  margin: 0;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;

}

.navbar-brand {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

.navbar-brand.logo {
    color: #fff;
} 

.navbar-brand.logo:hover {
  color: #777;
}

.navbar-default .navbar-nav > li > a {
  color: #024ff8;
}

.navbar-space {
  margin-right: -1px;
}

//home page styling

.jumbotron, h1 {
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron {
  background-image: asset-url('bg.jpg');
  height: calc(100vh);
  background-size: 100% 100%;
  margin-bottom: 0;
  margin-top: -1px;
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0;
  
}

.btn-xl {
  background-color: #e18c0f;
  font-size: 1.7em;
}

h1.welcome {
  color: #fff;
}

.mid-btn {
  padding-top: 75px;
}

//footer styling

/* #footer-bg.container-fluid {
  background-color: #000;
} */

footer {
  padding-top: 8px;
  border-top: 1px solid #d6d6d6;
  color: #777;
}

footer a {
  color: #024ff8;;
}

footer a:hover {
  color: #777;
}

footer small {
  float: left;
}

footer ul {
  list-style: none;
  float: right;
}

footer ul li {
  float: left;
  margin-left: 15px;
}


//about page styling

  /* Marketing Content */
  
  .marketing .col-xs-4 {
  	margin-bottom: 1.5rem;
  	text-align: center;
  } /* Center align the text within the three columns */

  .marketing h2 {
  	font-weight: 400;
  }

  .marketing .col-xs-4 p {
  	margin-right: .75rem;
  	margin-left: .75rem;
  }

  .col-md-7 {
  	margin-left: 30px;
  }

  .col-md-4 {
  	margin-left: 60px;
  }

 /* Featurettes */
 .featurette-divider {
 	margin: 5rem 0; /* Spaces out bootstrap <hr> more */
 }

 .featurette-heading {
 	font-weight: 300;
 	line-height: 1;
 	letter-spacing: -.05rem;
 }

 .row.featurette {
 	margin-top: 40px;

 }

 // Login page styling

 .container.form {
  margin-bottom: 15px;

 }



