//notices styling

.alert {
	margin-top: 20px;
}

//new page styling/form



section .btn-danger {
	margin-top: -34px;
	float: right;
}

//show page styling

.post-date {
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 5px;
}

.article-actions {
	border-top: 1px solid #eaeaea;
	padding-top: 18px;
}

//index page styling

.article-title {
	font-weight: bold;
	font-size: 1.5em;

}

.article-title a {
	color: #024ff8;
}

.article-body {
	border-top: 1px solid #eaeaea;
	padding-top: 15px;
	padding-bottom: 15px;
}

