<div class="container-fluid" id="footer-bg">
	
	<footer class="mastfoot mt-auto">
		<div class="inner">
			<small>
				Copyright &#169 2018 <a href="chantityburaimoh.com">Chantity Buraimoh</a>
			</small>

			<nav>
				<ul>
					<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Contact", contact_path %></li>
					<li><%= link_to "Home", root_path %></li>
				</ul>
			</nav>
		</div>
	</footer>
</div>
	