<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<% flash.each do |notice, alert| %>
			<div class='alert alert-<%= "#{notice}" %>'>
				<a href="#" class="close" data-dismiss="alert">&#215;</a>
					<%= content_tag :div, alert, :id => "flash_#{notice}" if alert.is_a?(String) %>
			</div>
		<% end %>
	</div>
</div>
